@font-face {
    font-family: gilroy;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: gilroy bold;
    src: url(fonts/Gilroy-Bold.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 10vw;
    background-color: #0f0f0f8f;
    position: fixed;
    z-index: 99;
}

nav img{
    width: 3vw;
}

nav a{
    text-decoration: none;
    color:#CFCFCF;
    font-size: 1.5vw;
    font-family: gilroy bold;
    
}

.right-nav{
    display: flex;
    gap: 2vw;
}

.part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    color: #fff;
    
}

.part-1 h1{
    font-family: gilroy bold;
    font-size: 7vw;
    letter-spacing: -5px;
    line-height: 100px;
    
}

.part-1 p{
    font-family: gilroy bold;
    font-size: 1.3vw;
    margin-top: 5vh;
}

.part-1 button{
    margin-top: 5vh;
    padding: 1.2vw 2vw;
    font-family: gilroy bold;
    font-size: 1.5vw;
    border-radius: 8vw;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all linear 0.3s;
}

.part-1 button:hover{
background-color: #000;
color: #fff;
border: 1px solid #fff;
}

/* end part-1 */

/* start part-2 */

.part-2{
    height: 100vh;
    width: 100%;
    background-image: url(images/video-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    overflow: hidden;
}

.part-2 img{
    height: 100vh;
    transition:  all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#imgthree{
    position: absolute;
    bottom: -50vh;
    z-index: 5;
}

#imgfour,#imgtwo{
    margin-bottom: -50vh;
    z-index: 3;
}


#imgone,#imgfive{
    margin-bottom: -25vh;
}

#imgone{
    margin-right: -10vw;
}

#imgfive{
    margin-left: -10vw;
}

/* end part-2 */

/* start part-3 or part-same */

.part-same{
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0vw 10vw;
}

.part-3{
    background-image: url(images/deserve-more-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.part-same h2{
    font-size: 6vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 70px;
    text-wrap: wrap;
}

.part-same h4{
    font-size: 2.5vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    margin-top: 5vh;
}

.part-same p{
    font-size: 1.2vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    text-wrap: wrap;
    width: 50%;
}

.part-same button{
    padding: 1.5vw 3vw;
    font-size: 2vw;
    font-family: gilroy bold;
    border-radius: 3vw;
    border: none;
    text-align: center;
    margin-top: 7vh;
    cursor: pointer;
    transition: all linear 0.2s;
}

.part-same button:hover{
    background-color: #00000000;
    color: #fff;
    border: 1px solid #fff;
    }


/* end part-3 or part-same */

/* start strip */

.strip{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0vw 10vw;
    gap: 2vw;
}

.strip img{
    height: 7vh;
    margin-top: 2vh;
}

.strip h3{
    font-size: 2vw;
    font-family: gilroy bold;
}

/* end strip */

/* part4 */

.part-4{
    background-image: url(images/money-matters-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* end part4 */

/* start part5 */

#part-5{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: row;
    padding: 0vw 0vw 0vw 10vw;
}

.left-part-5{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;   
position: relative;
}


.scroll-txt{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8vh;
    position: absolute;
    

}


.left-part-5 p{
    width: 80%;
    
}

.right-part-5{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone{
    height: 70vh;
    width: 20vw;
    border-radius: 40px;
    border: 1.5vw solid #333;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.phone-img{
    height: 100%;
    width: 400%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -10%;
}

.phone img{
    width: 21vw;
}

#scroll-1{
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#scroll-2,#scroll-3,#scroll-4{
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)1s;
}



/* end part5 */

/* start part6 */

.part-6{
    height: 50vh;
    width: 100%;
background-image: url(images/neopop-image-mock.png);
background-size: cover;
background-position: center;
background-attachment: fixed;
}

/* end part6 */

/* start part7 */

.part-7{
    background-image: url(images/security-bg.jpg);
    background-size: cover;
    background-position: center;
}

/* end part7 */

/* start part8 */

.part-8{
    height: 100vh;
    width: 100%;
    background-image: url(images/trust-bg.jpg);
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.part-8 h2{
    font-size: 4vw;
}

.part-8 p{
    font-size: 1.5vw;
    font-family: gilroy;
    line-height:5.5vh;
}

/* end part8 */

/* start part9 */

.part-9{
    height: 100vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-part-9{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.rating{
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    gap: 5vh;
}

.rating-value{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2vw;
}


.rating-value h2{
    font-size: 8vw;
    font-family: gilroy bold;
}


.rating-value h3{
    font-size: 3vw;
    font-family: gilroy;
}

.rating img{
    width: 10vw;
}

.rating button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 2.2vw;
    border-radius: 50px;
    border: none;
    
}

.rating button img{
    width: 2.5vw;
}

.rating button h3{
    font-family: gilroy bold;
    font-size: 1.6vw;
}

/* ++ */


.bottom-part-9{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider-part{
    height: 30vh;
    width: 50vw;

    margin-bottom: 2vh;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: gilroy;
    padding-bottom: 10vh;
    margin-top: 5vh;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



/* end part9 */