@font-face {
    font-family: gilroy;
    src: url(fonts/Gilroy-Regular.ttf);
}

@font-face {
    font-family: gilroy bold;
    src: url(fonts/Gilroy-Bold.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100vh;
    width: 100%;
    background-color: #0F0F0F;
}

nav{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 10vw;
    background-color: #0F0F0F;
}

nav img{
    width: 3vw;
}

nav a{
    text-decoration: none;
    color:#CFCFCF;
    font-size: 1.5vw;
    font-family: gilroy bold;
    
}

.right-nav{
    display: flex;
    gap: 2vw;
}

.part-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    color: #fff;
    
}

.part-1 h1{
    font-family: gilroy bold;
    font-size: 7vw;
    letter-spacing: -5px;
    line-height: 100px;
    
}

.part-1 p{
    font-family: gilroy bold;
    font-size: 1.3vw;
    margin-top: 5vh;
}

.part-1 button{
    margin-top: 5vh;
    padding: 1.2vw 2vw;
    font-family: gilroy bold;
    font-size: 1.5vw;
    border-radius: 8vw;
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: all linear 0.3s;
}

.part-1 button:hover{
background-color: #000;
color: #fff;
border: 1px solid #fff;
}

/* end part-1 */

/* start part-2 */

.part-2{
    height: 100vh;
    width: 100%;
    background-image: url(images/video-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    overflow: hidden;
}

.part-2 img{
    height: 100vh;
    transition:  all cubic-bezier(0.19, 1, 0.22, 1)1s;
}

#imgthree{
    position: absolute;
    bottom: -50vh;
    z-index: 5;
}

#imgfour,#imgtwo{
    margin-bottom: -50vh;
    z-index: 3;
}


#imgone,#imgfive{
    margin-bottom: -25vh;
}

#imgone{
    margin-right: -10vw;
}

#imgfive{
    margin-left: -10vw;
}

/* end part-2 */

/* start part-3 or part-same */

.part-same{
    width: 100%;
    height: 100vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 0vw 10vw;
}

.part-3{
    background-image: url(images/deserve-more-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.part-same h2{
    font-size: 7vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 70px;
}

.part-same h4{
    font-size: 2.5vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    margin-top: 5vh;
}

.part-same p{
    font-size: 1.2vw;
    font-family: gilroy bold;
    color: #FFFFFF;
    text-wrap: wrap;
    margin-right: 25vw;
}

.part-same button{
    padding: 1.5vw 3vw;
    font-size: 2vw;
    font-family: gilroy bold;
    border-radius: 3vw;
    border: none;
    text-align: center;
    margin-top: 7vh;
    cursor: pointer;
    transition: all linear 0.2s;
}

.part-same button:hover{
    background-color: #00000000;
    color: #fff;
    border: 1px solid #fff;
    }


/* end part-3 or part-same */

/* start strip */

.strip{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0vw 10vw;
    gap: 2vw;
}

.strip img{
    height: 7vh;
    margin-top: 2vh;
}

.strip h3{
    font-size: 2vw;
    font-family: gilroy bold;
}

/* end strip */

/* part4 */

.part-4{
    background-image: url(images/money-matters-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

/* end part4 */